.flex-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100vw;
    height: auto;
    padding: 0px;
   
}

div.flex-container div {
    display: flex;
    flex-wrap: wrap;
    border-right: solid red 5px;
    width: auto;
    min-width: 100px;
    height: auto;
    min-height: 20px; 
}

div.flex-container a {
    color: green;
    text-align: center;
    padding-left: 20px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.flex-container a:hover {
    color: red;
}

div.flex-container div:last-child {
    border: none;
}