body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('trutype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf') format('trutype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('trutype');
}


.header {
    font-weight: 500;
    font-size: 35px;
    font-variant: small-caps;
    text-align: center;
    color: blue;
    background-color: rgba(147, 180, 237, 0.5);
    width: 100vw;
    padding-top: 15px;  
    padding-bottom: 15px;
    
    
}


.content {
    /* margin-left: 300px; */
    background-color: white;
    background-image: url('../images/Soccerball.jpg');
    background-repeat: repeat-y;
    background-position-x: right;
    background-position-y: center;
    border: solid gray 1px;
    
   }

   .nav {
    float: left;
    width: 300px;
    font-size: 20px;
    background-color: rgba(242, 205, 116, 0.5);
    
}

.subtitle {
    font-weight: 700;
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
    color: black
}

.floatimage {
    float: left;
    width: 300px;
    height: 199px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-indent: 10px;
    text-align: justify;
    /* margin-left: 300px; */

}