body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('trutype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf') format('trutype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('trutype');
}

form {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    padding: 30px;

}

fieldset>div {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-bottom: 20px;
}

label {
    min-width: 300px;
}

[type*="text"] {
    flex: 1 1 auto;
    min-width: 300px;
    align-items: stretch;
}

div div {
    display: inline-block;
}


@media screen and (max-width: 768px) {
    fieldset>div {
        flex-wrap: wrap;
    }
    div div {
        display: block;
    }

}

@media screen and (max-width: 320px) {
  
    div:nth-of-type(4)>label {
        min-width: 100px;
    } 

}