body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('trutype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf') format('trutype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('trutype');
}

.background {
    border-collapse: collapse;
    background: url('../images/Soccerball.jpg');
    background-repeat: repeat-y;
    background-position-x: right;
    background-position-y: center;

}


.header {
    font-weight: 500;
    font-size: 40px;
    font-variant: small-caps;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: blue;
    background-color: aqua;
}

.subtitle {
    font-weight: 700;
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black
}

.nav {
    width: 25%;
    background-color: yellow;
    font-size: 20px;

}